* {
    border: none;
    border-radius: 0px;
    font-family: "Iosevka Term Nerd Font";
    font-size: 16pt;
    min-height: 0;
    color: #E0DEF4;
    background: transparent;
}

window#waybar, tooltip {
    background: rgba(25, 23, 36, 0.85);
}

tooltip {
    margin: 2;
}

#window,
#language,
#pulseaudio,
#battery,
#clock,
#memory,
#cpu,
#network {
    padding-left: 8px;
    padding-right: 8px;
}

#pulseaudio.good,
#battery.good,
#memory.good,
#cpu.good {
    color: #9CCFD8;
}

#pulseaudio.warning,
#battery.warning,
#memory.warning,
#cpu.warning {
    color: #F6C177;
}

#pulseaudio.critical,
#battery.critical,
#memory.critical,
#cpu.critical {
    color: #EB6F92;
}

