* {
    border: none;
    border-radius: 0px;
    font-family: "Iosevka Nerd Font";
    font-size: 16pt;
    min-height: 0;
    color: #E0DEF4;
    background: transparent;
}

window#waybar {
    background: rgba(25, 23, 36, 0.85);
}

